# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
build/
dist/
*.spec

# Unit test / coverage reports
.pytest_cache/
.mypy_cache/

# Environments
.env
.venv
env/
venv/

# Project configuration, logs and local data
config.json
logs/
*.log
yahoo_data/
